/* Diseño de la navegación en movil */
@media screen and (max-width: 1024px) {
  .search-movile {
    display: flex;
    /* Centramos la lista de links del menu */
    align-items: center;
    justify-content: center;
    /* Lo ponemos fijo */
    position: fixed;
    /* Lo colocamos al inicio de la pantalla */
    top: 0;
    left: 0;

    /* Para que abarque toda la pantalla width y height */
    width: 100%;
    height: 100vh;

    /* un fondo para ocultar el contenido de detras */
    background: var(--color-bg-light);

    /* Para que el menu se ponga arriba del header y todo el contenido */
    z-index: var(--z-off-canvas);

    /* Para la animación, hacemos que sea pequeño al inico, y lo animamos para crecer */
    /* el crecimiento */
    transform: scale(0);
    /* la duración */
    transition: transform 0.25s;
  }
}

.search-movile .jam {
  /* Para moverlo hasta la derecha de la pantalla */
  margin-left: auto;
  color: var(--color-icon);
  /* Le damos el tamaño, como es un spam el icono usamos font-size para definir el tamaño */
  font-size: 2.5rem;
  /* Para que al pasar el mouse este se ponga como manita */
  cursor: pointer;
}

/* reinicializamos el scale de la animación */
.search-movile.active {
  transform: initial;
}

/* Posicionamos el boton para cerrar */
.search-movile .jam-close {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}

.browser.movile {
  margin: 0 1rem 0rem 1rem;
  border-radius: var(--border-radius);
  background-color: var(--color-bg-dark);
  border: 1px solid var(--color-icon);
}
