.temary-header{
    background-color: rgb(31, 29, 29);
    width: 600px;
    border-radius: 5px ;
    
}

.temary-test{
    background-color: rgb(237, 2, 2);
}

.temary-test1{
    background-color: rgb(0, 255, 55);
}